<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored Faces</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>FACE RECOGNITION</h1>
    </div>
    <section class="container-faces">
        <div class="Stored-faces">
            {% for i in range(0, faces|length, 3) %}
                <div class="row">
                    {% for face in faces[i:i+3] %}
                        <div class="col-md-4">
                            <div class="face-details">
                                <strong>Name:</strong> {{ face.name }}<br>
                                <strong>Address:</strong> {{ face.address }}<br>
                                <strong>Mobile Number:</strong> {{ face.mobile_number }}<br>
                                <strong>Email:</strong> {{ face.email }}<br>
                                <img src="{{ face.image_path }}" alt="Face Image" class="face-image"><br>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    <footer class="footer-faces">
        <div class="footer-text">
            <h5>&copy; 2024 Unarine Luvhimbi</h5>
        </div>
    </footer>
</body>
</html>
